In [6]:
import pandas as pd

# files
exportsfile="export.csv"
importsfile="import.csv"
oilexportsfile="oilexport.csv"
oilimportsfile="oilimport.csv"
consumptionfile="consumption.csv"
carbonfile="carbon.csv"
industryfile="industry.csv"
revcoalfile="revcoal.csv"
revforestfile="revforest.csv"

# fetching tables
exports=pd.read_csv(exportsfile)
imports=pd.read_csv(importsfile)
oilexports=pd.read_csv(oilexportsfile)
oilimports=pd.read_csv(oilimportsfile)
consumption=pd.read_csv(consumptionfile)
carbon=pd.read_csv(carbonfile)
industry=pd.read_csv(industryfile)
revcoal=pd.read_csv(revcoalfile)
revforest=pd.read_csv(revforestfile)

# Identify matching columns
set(exports.columns)&set(imports)&set(oilexports)&set(oilimports)&set(consumption)&set(carbon)&set(industry)&set(revcoal)&set(revforest)
list(zip(exports,imports,oilexports,oilimports,consumption,carbon,industry,revcoal,revforest))

{'date_of_information', 'name', 'ranking', 'region', 'slug', 'value'}

In [26]:
#rename value columns due to different value types and criteria
exports.rename(columns={'value':'Export value (USD)'},inplace=True)
imports.rename(columns={'value':'Import value (USD)'},inplace=True)
oilexports.rename(columns={'value':'Oil exports (Barrels)'},inplace=True)
oilimports.rename(columns={'value':'Oil imports (Barrels)'},inplace=True)
consumption.rename(columns={'value':'Energy consumption (Btu per capita)'},inplace=True) 
carbon.rename(columns={'value':'Carbon dioxide emissions (metric tons)'},inplace=True)
industry.rename(columns={'value':'Industrial production growth rate (% increase)'},inplace=True)
revcoal.rename(columns={'value':'Revenue from coal (USD)'},inplace=True)
revforest.rename(columns={'value':'Revenues from forests resources (USD)'},inplace=True)

list(zip(exports,imports,oilexports,oilimports,consumption,carbon,industry,revcoal,revforest))

[('name', 'name', 'name', 'name', 'name', 'name', 'name', 'name', 'name'),
 ('slug', 'slug', 'slug', 'slug', 'slug', 'slug', 'slug', 'slug', 'slug'),
 ('Export Value (USD)',
  'Import Value (USD)',
  'Oil Exports (Barrels)',
  'Oil Imports (Barrels)',
  'Consumption Value',
  'Carbon dioxide emissions (metric tons)',
  'Industrial production growth rate (% increase)',
  'Revenue from coal (USD)',
  'Revenues from forests resources (USD)'),
 ('date_of_information',
  'date_of_information',
  'date_of_information',
  'date_of_information',
  'date_of_information',
  'date_of_information',
  'date_of_information',
  'date_of_information',
  'date_of_information'),
 ('ranking',
  'ranking',
  'ranking',
  'ranking',
  'ranking',
  'ranking',
  'ranking',
  'ranking',
  'ranking'),
 ('region',
  'region',
  'region',
  'region',
  'region',
  'region',
  'region',
  'region',
  'region')]

In [30]:
consumption

,name,slug,Consumption Value,date_of_information,ranking,region
0,Qatar,qatar,"723,582,000.0",2019 est.,1,Middle East
1,Singapore,singapore,"639,951,000.0",2019 est.,2,East and Southeast Asia
2,Bahrain,bahrain,"547,976,000.0",2019 est.,3,Middle East
3,United Arab Emirates,united-arab-emirates,"471,788,000.0",2019 est.,4,Middle East
4,Brunei,brunei,"415,184,000.0",2019 est.,5,East and Southeast Asia
...,...,...,...,...,...,...
207,"Saint Helena, Ascension, and Tristan da Cunha",saint-helena-ascension-and-tristan-da-cunha,0.0,2019 est.,208,Africa
208,Saint Pierre and Miquelon,saint-pierre-and-miquelon,0.0,2019 est.,209,North America
209,Turks and Caicos Islands,turks-and-caicos-islands,0.0,2019 est.,210,Central America and the Caribbean
210,Tuvalu,tuvalu,0.0,2019 est.,211,Australia and Oceania
211,Wake Island,wake-island,0.0,2019 est.,212,Australia and Oceania

In [ ]:
#once concatenated, date of information and pertaining data should be reformatted, as well as the name.