In [1]:
import pandas as pd

# files
exportsfile="export.csv"
importsfile="import.csv"
oilexportsfile="oilexport.csv"
oilimportsfile="oilimport.csv"
consumptionfile="consumption.csv"
carbonfile="carbon.csv"
industryfile="industry.csv"
revcoalfile="revcoal.csv"
revforestfile="revforest.csv"

# fetching tables
exports=pd.read_csv(exportsfile)
imports=pd.read_csv(importsfile)
oilexports=pd.read_csv(oilexportsfile)
oilimports=pd.read_csv(oilimportsfile)
consumption=pd.read_csv(consumptionfile)
carbon=pd.read_csv(carbonfile)
industry=pd.read_csv(industryfile)
revcoal=pd.read_csv(revcoalfile)
revforest=pd.read_csv(revforestfile)

# Identify matching columns
set(exports.columns)&set(imports)&set(oilexports)&set(oilimports)&set(consumption)&set(carbon)&set(industry)&set(revcoal)&set(revforest)
list(zip(exports,imports,oilexports,oilimports,consumption,carbon,industry,revcoal,revforest))

[('name', 'name', 'name', 'name', 'name', 'name', 'name', 'name', 'name'),
 ('slug', 'slug', 'slug', 'slug', 'slug', 'slug', 'slug', 'slug', 'slug'),
 ('value',
  'value',
  'value',
  'value',
  'value',
  'value',
  'value',
  'value',
  'value'),
 ('date_of_information',
  'date_of_information',
  'date_of_information',
  'date_of_information',
  'date_of_information',
  'date_of_information',
  'date_of_information',
  'date_of_information',
  'date_of_information'),
 ('ranking',
  'ranking',
  'ranking',
  'ranking',
  'ranking',
  'ranking',
  'ranking',
  'ranking',
  'ranking'),
 ('region',
  'region',
  'region',
  'region',
  'region',
  'region',
  'region',
  'region',
  'region')]

In [2]:
#rename value columns due to different value types and criteria
exports.rename(columns={'value':'Export value (USD)'},inplace=True)
imports.rename(columns={'value':'Import value (USD)'},inplace=True)
oilexports.rename(columns={'value':'Oil exports (Barrels)'},inplace=True)
oilimports.rename(columns={'value':'Oil imports (Barrels)'},inplace=True)
consumption.rename(columns={'value':'Energy consumption (Btu per capita)'},inplace=True) 
carbon.rename(columns={'value':'Carbon dioxide emissions (metric tons)'},inplace=True)
industry.rename(columns={'value':'Industrial production growth rate (% increase)'},inplace=True)
revcoal.rename(columns={'value':'Revenue from coal (USD)'},inplace=True)
revforest.rename(columns={'value':'Revenues from forests resources (USD)'},inplace=True)

list(zip(exports,imports,oilexports,oilimports,consumption,carbon,industry,revcoal,revforest))

[('name', 'name', 'name', 'name', 'name', 'name', 'name', 'name', 'name'),
 ('slug', 'slug', 'slug', 'slug', 'slug', 'slug', 'slug', 'slug', 'slug'),
 ('Export value (USD)',
  'Import value (USD)',
  'Oil exports (Barrels)',
  'Oil imports (Barrels)',
  'Energy consumption (Btu per capita)',
  'Carbon dioxide emissions (metric tons)',
  'Industrial production growth rate (% increase)',
  'Revenue from coal (USD)',
  'Revenues from forests resources (USD)'),
 ('date_of_information',
  'date_of_information',
  'date_of_information',
  'date_of_information',
  'date_of_information',
  'date_of_information',
  'date_of_information',
  'date_of_information',
  'date_of_information'),
 ('ranking',
  'ranking',
  'ranking',
  'ranking',
  'ranking',
  'ranking',
  'ranking',
  'ranking',
  'ranking'),
 ('region',
  'region',
  'region',
  'region',
  'region',
  'region',
  'region',
  'region',
  'region')]

In [3]:
consumption

,name,slug,Energy consumption (Btu per capita),date_of_information,ranking,region
0,Qatar,qatar,"723,582,000.0",2019 est.,1,Middle East
1,Singapore,singapore,"639,951,000.0",2019 est.,2,East and Southeast Asia
2,Bahrain,bahrain,"547,976,000.0",2019 est.,3,Middle East
3,United Arab Emirates,united-arab-emirates,"471,788,000.0",2019 est.,4,Middle East
4,Brunei,brunei,"415,184,000.0",2019 est.,5,East and Southeast Asia
...,...,...,...,...,...,...
207,"Saint Helena, Ascension, and Tristan da Cunha",saint-helena-ascension-and-tristan-da-cunha,0.0,2019 est.,208,Africa
208,Saint Pierre and Miquelon,saint-pierre-and-miquelon,0.0,2019 est.,209,North America
209,Turks and Caicos Islands,turks-and-caicos-islands,0.0,2019 est.,210,Central America and the Caribbean
210,Tuvalu,tuvalu,0.0,2019 est.,211,Australia and Oceania
211,Wake Island,wake-island,0.0,2019 est.,212,Australia and Oceania

In [4]:
#once concatenated, date of information and pertaining data should be reformatted, as well as the name.

In [5]:
joinEcon = pd.concat([exports,imports,oilexports,oilimports,consumption,carbon,industry,revcoal,revforest], axis=1, join='inner')
joinEcon

,name,slug,Export value (USD),date_of_information,ranking,region,name,slug,Import value (USD),date_of_information,...,Revenue from coal (USD),date_of_information,ranking,region,name,slug,Revenues from forests resources (USD),date_of_information,ranking,region
0,China,china,"$3,554,000,000,000",2021 est.,1,East and Southeast Asia,United States,united-states,"$3,402,000,000,000",2021 est.,...,8.62,2018 est.,1,East and Southeast Asia,Solomon Islands,solomon-islands,20.27,2018 est.,1,Australia and Oceania
1,United States,united-states,"$2,557,000,000,000",2021 est.,2,North America,China,china,"$3,091,000,000,000",2021 est.,...,4.17,2018 est.,2,Africa,Liberia,liberia,13.27,2018 est.,2,Africa
2,Germany,germany,"$2,004,000,000,000",2021 est.,3,Europe,Germany,germany,"$1,775,000,000,000",2021 est.,...,2.40,2018 est.,3,Africa,Burundi,burundi,10.31,2018 est.,3,Africa
3,France,france,"$920,864,000,000",2021 est.,4,Europe,France,france,"$957,717,000,000",2021 est.,...,1.15,2018 est.,4,South Asia,Guinea-Bissau,guinea-bissau,9.24,2018 est.,4,Africa
4,Japan,japan,"$919,158,000,000",2021 est.,5,East and Southeast Asia,Japan,japan,"$941,671,000,000",2021 est.,...,1.06,2018 est.,5,East and Southeast Asia,Central African Republic,central-african-republic,8.99,2018 est.,5,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,Turks and Caicos Islands,turks-and-caicos-islands,"$827,000,000",2018 est.,182,Central America and the Caribbean,Monaco,monaco,"$1,371,000,000",2017 est.,...,0.00,2018 est.,182,Middle East,Macau,macau,0.00,2018 est.,182,East and Southeast Asia
182,Somalia,somalia,"$819,000,000",2014 est.,183,Africa,Belize,belize,"$1,252,000,000",2021 est.,...,0.00,2018 est.,183,Europe,Maldives,maldives,0.00,2018 est.,183,South Asia
183,Sint Maarten,sint-maarten,"$787,981,000",2021 est.,184,Central America and the Caribbean,Liberia,liberia,"$1,244,000,000",2019 est.,...,0.00,2018 est.,184,South America,Malta,malta,0.00,2018 est.,184,Europe
184,Antigua and Barbuda,antigua-and-barbuda,"$749,476,000",2021 est.,185,Central America and the Caribbean,Eritrea,eritrea,"$1,127,000,000",2017 est.,...,0.00,2018 est.,185,Australia and Oceania,Marshall Islands,marshall-islands,0.00,2018 est.,185,Australia and Oceania
185,Bhutan,bhutan,"$741,602,000",2021 est.,186,South Asia,Cabo Verde,cabo-verde,"$1,117,000,000",2021 est.,...,0.00,2018 est.,186,Middle East,Mauritius,mauritius,0.00,2018 est.,186,Africa

In [6]:
joinEcon.drop(columns='slug',inplace=True)
joinEcon.drop(columns='ranking',inplace=True)
joinEcon.drop(columns='date_of_information',inplace=True)
joinEcon

,name,Export value (USD),region,name,Import value (USD),region,name,Oil exports (Barrels),region,name,...,region,name,Industrial production growth rate (% increase),region,name,Revenue from coal (USD),region,name,Revenues from forests resources (USD),region
0,China,"$3,554,000,000,000",East and Southeast Asia,United States,"$3,402,000,000,000",North America,United States,"5,218,000",North America,Singapore,...,East and Southeast Asia,Panama,37.50,Central America and the Caribbean,Mongolia,8.62,East and Southeast Asia,Solomon Islands,20.27,Australia and Oceania
1,United States,"$2,557,000,000,000",North America,China,"$3,091,000,000,000",East and Southeast Asia,Russia,"2,671,000",Central Asia,United States,...,North America,Guyana,33.52,South America,Mozambique,4.17,Africa,Liberia,13.27,Africa
2,Germany,"$2,004,000,000,000",Europe,Germany,"$1,775,000,000,000",Europe,Netherlands,"2,406,000",Europe,Netherlands,...,South Asia,Tajikistan,22.04,Central Asia,South Africa,2.40,Africa,Burundi,10.31,Africa
3,France,"$920,864,000,000",Europe,France,"$957,717,000,000",Europe,Singapore,"1,820,000",East and Southeast Asia,China,...,Central Asia,Nicaragua,21.28,Central America and the Caribbean,India,1.15,South Asia,Guinea-Bissau,9.24,Africa
4,Japan,"$919,158,000,000",East and Southeast Asia,Japan,"$941,671,000,000",East and Southeast Asia,Saudi Arabia,"1,784,000",Middle East,Japan,...,East and Southeast Asia,Mauritius,20.88,Africa,Indonesia,1.06,East and Southeast Asia,Central African Republic,8.99,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,Turks and Caicos Islands,"$827,000,000",Central America and the Caribbean,Monaco,"$1,371,000,000",Europe,"Micronesia, Federated States of",0,Australia and Oceania,Timor-Leste,...,Central America and the Caribbean,Marshall Islands,-3.66,Australia and Oceania,United Arab Emirates,0.00,Middle East,Macau,0.00,East and Southeast Asia
182,Somalia,"$819,000,000",Africa,Belize,"$1,252,000,000",Central America and the Caribbean,Mongolia,0,East and Southeast Asia,Bhutan,...,Africa,Solomon Islands,-3.84,Australia and Oceania,United Kingdom,0.00,Europe,Maldives,0.00,South Asia
183,Sint Maarten,"$787,981,000",Central America and the Caribbean,Liberia,"$1,244,000,000",Africa,Montserrat,0,Central America and the Caribbean,Saint Lucia,...,Central America and the Caribbean,Andorra,-3.90,Europe,Uruguay,0.00,South America,Malta,0.00,Europe
184,Antigua and Barbuda,"$749,476,000",Central America and the Caribbean,Eritrea,"$1,127,000,000",Africa,Mozambique,0,Africa,Central African Republic,...,Africa,Brunei,-4.17,East and Southeast Asia,Vanuatu,0.00,Australia and Oceania,Marshall Islands,0.00,Australia and Oceania
185,Bhutan,"$741,602,000",South Asia,Cabo Verde,"$1,117,000,000",Africa,Nauru,0,Australia and Oceania,Guinea-Bissau,...,Africa,Japan,-4.33,East and Southeast Asia,Yemen,0.00,Middle East,Mauritius,0.00,Africa

In [7]:
joinEcon = joinEcon.loc[:,~joinEcon.columns.duplicated()].copy()
joinEcon

,name,Export value (USD),region,Import value (USD),Oil exports (Barrels),Oil imports (Barrels),Energy consumption (Btu per capita),Carbon dioxide emissions (metric tons),Industrial production growth rate (% increase),Revenue from coal (USD),Revenues from forests resources (USD)
0,China,"$3,554,000,000,000",East and Southeast Asia,"$3,402,000,000,000","5,218,000","2,335,000","723,582,000.0","10,773,248,000.0",37.50,8.62,20.27
1,United States,"$2,557,000,000,000",North America,"$3,091,000,000,000","2,671,000","2,175,000","639,951,000.0","5,144,361,000.0",33.52,4.17,13.27
2,Germany,"$2,004,000,000,000",Europe,"$1,775,000,000,000","2,406,000","2,148,000","547,976,000.0","2,314,738,000.0",22.04,2.40,10.31
3,France,"$920,864,000,000",Europe,"$957,717,000,000","1,820,000","1,160,000","471,788,000.0","1,848,070,000.0",21.28,1.15,9.24
4,Japan,"$919,158,000,000",East and Southeast Asia,"$941,671,000,000","1,784,000","1,100,000","415,184,000.0","1,103,234,000.0",20.88,1.06,8.99
...,...,...,...,...,...,...,...,...,...,...,...
181,Turks and Caicos Islands,"$827,000,000",Central America and the Caribbean,"$1,371,000,000",0,"3,481","3,217,000.0","729,000.0",-3.66,0.00,0.00
182,Somalia,"$819,000,000",Africa,"$1,252,000,000",0,"3,120","2,943,000.0","715,000.0",-3.84,0.00,0.00
183,Sint Maarten,"$787,981,000",Central America and the Caribbean,"$1,244,000,000",0,"3,113","2,460,000.0","659,000.0",-3.90,0.00,0.00
184,Antigua and Barbuda,"$749,476,000",Central America and the Caribbean,"$1,127,000,000",0,"2,799","2,404,000.0","610,000.0",-4.17,0.00,0.00
185,Bhutan,"$741,602,000",South Asia,"$1,117,000,000",0,"2,625","2,307,000.0","606,000.0",-4.33,0.00,0.00

In [8]:
joinEcon.set_index(['name'],inplace=True)
joinEcon

,Export value (USD),region,Import value (USD),Oil exports (Barrels),Oil imports (Barrels),Energy consumption (Btu per capita),Carbon dioxide emissions (metric tons),Industrial production growth rate (% increase),Revenue from coal (USD),Revenues from forests resources (USD)
name,,,,,,,,,,
China,"$3,554,000,000,000",East and Southeast Asia,"$3,402,000,000,000","5,218,000","2,335,000","723,582,000.0","10,773,248,000.0",37.50,8.62,20.27
United States,"$2,557,000,000,000",North America,"$3,091,000,000,000","2,671,000","2,175,000","639,951,000.0","5,144,361,000.0",33.52,4.17,13.27
Germany,"$2,004,000,000,000",Europe,"$1,775,000,000,000","2,406,000","2,148,000","547,976,000.0","2,314,738,000.0",22.04,2.40,10.31
France,"$920,864,000,000",Europe,"$957,717,000,000","1,820,000","1,160,000","471,788,000.0","1,848,070,000.0",21.28,1.15,9.24
Japan,"$919,158,000,000",East and Southeast Asia,"$941,671,000,000","1,784,000","1,100,000","415,184,000.0","1,103,234,000.0",20.88,1.06,8.99
...,...,...,...,...,...,...,...,...,...,...
Turks and Caicos Islands,"$827,000,000",Central America and the Caribbean,"$1,371,000,000",0,"3,481","3,217,000.0","729,000.0",-3.66,0.00,0.00
Somalia,"$819,000,000",Africa,"$1,252,000,000",0,"3,120","2,943,000.0","715,000.0",-3.84,0.00,0.00
Sint Maarten,"$787,981,000",Central America and the Caribbean,"$1,244,000,000",0,"3,113","2,460,000.0","659,000.0",-3.90,0.00,0.00
Antigua and Barbuda,"$749,476,000",Central America and the Caribbean,"$1,127,000,000",0,"2,799","2,404,000.0","610,000.0",-4.17,0.00,0.00
Bhutan,"$741,602,000",South Asia,"$1,117,000,000",0,"2,625","2,307,000.0","606,000.0",-4.33,0.00,0.00

In [12]:
expEcon=joinEcon.copy()

In [24]:
import rpy2.robjects

R[write to console]: Error in gettext(fmt, domain = domain, trim = trim) :
  3 arguments passed to .Internal(gettext) which requires 2

RRuntimeError: Error in gettext(fmt, domain = domain, trim = trim) :
  3 arguments passed to .Internal(gettext) which requires 2